.first{
    align-items: center;
    background-color: bisque;
    border: solid black;
    margin-left: 25%;
    margin-right: 25%;
}
h1{
    margin-left: 40%;
}
#in{
    border: solid black;
   

}
#nam{
    margin-left: 30%;
}
#button{
    
    color: black;
    border-radius: 30%;
    margin-left: 40%;
}
.result{
    margin-top: 20px;
    background-color:bisque;
    margin-left: 25%;
    margin-right: 25%;
    border: solid black;
}
